@import "./Variables.scss";

$itemWidth : 50vw;


.field {
    
    
    border-radius: 5px;
    position: relative;
    background-color: $color-input;
    transition: 0.3s all;
    color: $color-text;
    margin: auto;

    @media (min-width: 768px) {
        font-size: 40px;
        height: 50px;
        width: $itemWidth;
    }
    
    @media (max-width: 768px) {
        $itemWidth : 90vw;
        font-size: 25px;
        height: 30px;
        width: $itemWidth;
    }
  }

.field:hover {
    background-color: $color-input-hover;
    box-shadow: 0px 4px 20px 0px $color-input-hover;
  }

